section {
  @include gradient-two-color;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
}

h1{
  text-align: justify;
}

.form {
  position: relative;
  left: 40px;
}

.item-list li {
  position: relative;
  left: 10%;
  margin-top: 20px;
  font-size: 1.25em;
}
