<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SharksvsPrey</title>
</head>
<body data-ng-app="angApp">
  <main>

    <section data-ng-controller="SharksController as sharksctrl" data-ng-init="sharksctrl.getAll()">
      <h1>Shark:</h1>
      <shark-form
        data-button-text="Create Shark!"
        data-action="create"
        data-shark="sharksctrl.newShark">
      </shark-form>

      <ul id="sharklist">
        <shark-list-item data-ng-repeat="shark in sharksctrl.sharks"
        data-shark="shark">
          <shark-form
            data-ng-if="shark.editing"
            data-button-text="Update Shark"
            data-action="update"
            data-shark="shark">
            <buttonid data-ng-click="shark.editing = false">Cancel</button>
          </shark-form>
        </shark-list-item>
      </ul>
    </section>

    <section data-ng-controller="PreysController as preysctrl" data-ng-init="preysctrl.getAll()">
      <h1>Prey:</h1>
      <prey-form
        data-button-text="Create Prey!"
        data-action="create"
        data-prey="preysctrl.newPrey">
      </prey-form>

      <ul id="preylist">
        <prey-list-item data-ng-repeat="prey in preysctrl.preys"
        data-prey="prey">
          <prey-form
            data-ng-if="prey.editing"
            data-button-text="Update Prey"
            data-action="update"
            data-prey="prey">
            <button data-ng-click="prey.editing = false">Cancel</button>
          </shark-form>
        </prey-list-item>
      </ul>
    </section>

  </main>
<script src="./bundle.js"></script>
</body>
</html>
