<section>
<h1>{{authctrl.signup ? 'Create a New User' : 'Signing into existing user'}}</h1>
<form class="auth" name="authform" data-ng-submit="authctrl.authenticate(authctrl.user)">

  <a data-ng-href="/#/{{authctrl.signup ? 'signin':'signup'}}">{{authctrl.signup ? 'Or Sign into an existing user': 'Create a New User'}}</a>
  <label for="username">Username:</label>
  <input type="text" required data-ng-model="authctrl.user.username">

  <label for="password">Password:</label>
  <input type="password" required data-ng-model="authctrl.user.password">

  <label data-ng-if="authctrl.signup" for="confirmation">Confirm:</label>
  <input data-ng-if="authctrl.signup" required type="password" data-ng-model="authctrl.user.confirmation">

  <button type="submit" data-ng-disabled="authform.$invalid">{{authctrl.buttonText}}</button>
</form>
</section>
